/* Full page background */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Box containing logo and form */
.login-box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  
  max-width: 100%;
  overflow: hidden;
}

/* Left logo section */
.login-logo {
  flex: 1;
  /* background-color: #f5f5f5; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
   position: absolute;
  top: 20px;
  left: 30px;
  width: 120px;  
  height: auto;
  z-index: 10;
}

.login-logo img {
  width: 180px;
  height: auto;
}

/* Right login form section */
.login-form {
   display: flex;
  flex-direction: column;
  padding: 80px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); /* optional: make form slightly transparent */
  border-radius: 10px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ff0000;
  /* border-radius: 5px; */
  font-size: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

.login-form button {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}

.login-form .B1 {
  color: rgb(253, 252, 252);
  font-weight: bold;
  
}

.login-form button:hover{
  background-color: rgb(85, 155, 247);
}
.login-form button:last-child {
  margin-right: 0;
  background-color:#a91b43;
  width: 100px;
 
}

.login-form a {
  color: #007bff;
  text-decoration: none;
}
.Welcome-Box{
  color: white;
  background-color: #a91b43;
  text-align: center;
  width: 270px;
  height: 150px;
  top: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-180%);
  z-index: 10;
  border-radius: 10px;
  padding-left: 10px;
 
  font-weight: bold;
}
.Welcome-Box p{
  font-size: 15px;
  margin: 0;
}
.Welcome-Box h2{
  letter-spacing: 8px;
}